<!--
 This file is Free Software under the Apache-2.0 License
 without warranty, see README.md and LICENSES/Apache-2.0.txt for details.

 SPDX-License-Identifier: Apache-2.0

 SPDX-FileCopyrightText: 2021 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
 Software-Engineering: 2021 Intevation GmbH <https://intevation.de>
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta description="CSAF-Provider - Directory structure created">
    <title>CSAF-Provider - Directory structure created</title>
  </head>
  <body>
    <h1>CSAF-Provider - Directory structure created</h1>
    {{ if .Error }}
    {{ if eq (len .Error) 1 }}
    <strong>Error: <tt>{{ index .Error 0 }}.</tt></strong>
    {{ else }}
    <p>
    Errors:
    <ul>
    {{ range .Error }}
    <li>{{ . }}</li>
    {{ end }}
    </ul>
    <p>
    {{ end }}
    {{ else }}
    {{ .Message }}
    {{ end }}
  </body>
</html>
