<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta description="CSAF-Checker - Report">
    <title>CSAF-Checker - Report</title>
  </head>
  <body>
   <h1>CSAF-Checker - Report</h1>
{{- range .Domains }}
   <h2>{{ .Name }}</h2>
   <dl>
{{ range .Requirements }}
   {{ if .OK }}
   <dt class="success"><strong>Requirement {{ .Num }}: {{ .Description }}</strong></dt>
   {{else}}
   <dt class="failed"><strong>Requirement {{ .Num }}: {{ .Description }}</strong></dt>
   {{end}}
{{ range .Messages }}
      <dd>- {{ . }}</dd>
{{ end }}
{{ end }}
   </dl>
{{ end }}
  </body>
</html>
<style>
dt.success:after {
    content: ' \2713';
    color: green
}
dt.failed:after {
    content: ' \2715';
    color: red
}
</style>