<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta description="CSAF-Checker - Report">
    <title>CSAF-Checker - Report</title>
  </head>
  <body>
    <h1>CSAF-Checker - Report</h1>
{{- range .Domains }}
    <h2>{{ .Name }}{{ if .HasErrors }} (failed){{ end }}</h2>
    <p>
    {{ with .Publisher }}
    <fieldset>
    <legend>Publisher</legend>
    <table>
      {{ with .Category }}
      <tr>
        <td><strong>Category:</strong></td>
        <td>{{ . }}</td>
      </tr>
      {{ end }}
      {{ with .Name }}
      <tr>
        <td><strong>Name:</strong></td>
        <td>{{ . }}</td>
      </tr>
      {{ end }}
      {{ with .Namespace }}
      <tr>
        <td><strong>Namespace:</strong></td>
        <td>{{ . }}</td>
      </tr>
      {{ end }}
      {{ with .ContactDetails }}
      <tr>
        <td><strong>Contact Details:</strong></td>
        <td>{{ . }}</td>
      </tr>
      {{ end }}
      {{ with .IssuingAuthority }}
      <tr>
        <td><strong>Issuing Authority:</strong></td>
        <td>{{ . }}</td>
      </tr>
      {{ end }}
    </table>
    </fieldset>
    {{ end }}
    </br>
    {{ with .Role }}<strong>Role:</strong> {{ . }}{{ end }}
    </p>

    <dl>
{{ range .Requirements }}
    <dt><strong>Requirement {{ .Num }}: {{ .Description }}{{ if .HasErrors }} (failed){{ end }}</strong></dt>
{{ range .Messages }}
    <dd>- {{ .Type }}: {{ .Text }}</dd>
{{ end }}
{{ end }}
    </dl>
{{ end }}

    <footer>
      Date of run: <time datetime="{{.Date.Format "2006-01-02T15:04:05Z"}}">{{ .Date.Local.Format "Monday, 02 Jan 2006 15:04:05 MST" }}</time>
      csaf_checker v<span class="version">{{ .Version }}</span>
    </footer>
  </body>
</html>
