name: Go

on:
  push:
    paths:
      - "**.go"
  pull_request:
    paths:
      - "**.go"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.21.0

      - name: Build
        run: go build -v ./cmd/...

      - name: vet
        run: go vet ./...

      - name: gofmt
        uses: Jerome1337/gofmt-action@v1.0.4
        with:
          gofmt-flags: "-l -d"

      - name: golint
        uses: Jerome1337/golint-action@v1.0.2

      - name: Revive Action
        uses: morphy2k/revive-action@v2.5.1

      - name: Tests
        run: go test -v ./...
